{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About the page</h1>

    <p>There is a need for a quicker and more accurate quotes for moving fees. The current process looks as though the user needs to input 3 variables (origin, destination, and estimate of furniture to be moved) into moving company's website.  To get another quote, the user needs to go to another company's website and input the same info.  I believe there is some efficiency to be achieved in terms of quoting as well as checking the schedules available for multiple movers.</p>

{% endblock %}