{% extends "bootstrap_layout.html" %}
{% set active_page = "lookup" %}

{% block content %}

    <h1>Moving Fee Calc Page</h1>

    <p>Your bid for a mover's service:</p>

     <form action="/inquiry" method="POST">

        <label>Email Address:</label>
        <input type="text" name="email_address" placeholder="me@example.com" value="me@example.com">
        <br>

        <label>Zip code of origin:</label>
        <input type="text" name="zip_origin" placeholder="#####" value="#####">
        <br>

        <label>Zip code of destination:</label>
        <input type="text" name="zip_destination" placeholder="#####" value="#####">
        <br>

        <label>Moving Size</label>
        <select name="move_size">
            <option value="s1" selected="true">Studio to 1 Bedroom</option>
            <option value="s2">1 Bedroom to 2 Bedroom</option>
            <option value="s3">Home up to 2 bedrooms</option>
            <option value="s4">2 Bedroom Home to 3 Bedroom Apt</option>
            <option value="s5">3 Bedroom Home to 4 Bedroom Home</option>
        </select>
        <br>

        <button>Submit</button>
    </form>

    <table style="width:30%">
      <tr>
        <th>New Jersey's Towns</th>
        <th>Zip-Codes</th>
              </tr>
              <tr><td>Avenel</td><td>07001</td></tr>
              <tr><td>Bayonne</td><td>07002</td></tr>
              <tr><td>Bloomfield</td><td>07003</td></tr>
              <tr><td>Fairfield</td><td>07004</td></tr>
              <tr><td>Boonton</td><td>07005</td></tr>
              <tr><td>Caldwell</td><td>07006</td></tr>
              <tr><td>Caldwell</td><td>07007</td></tr>
              <tr><td>Carteret</td><td>07008</td></tr>
              <tr><td>Cedar Grove</td><td>07009</td></tr>
              <tr><td>Cliffside Park</td><td>07010</td></tr>
              <tr><td>Clifton</td><td>07011</td></tr>
              <tr><td>Clifton</td><td>07012</td></tr>
              <tr><td>Clifton</td><td>07013</td></tr>
              <tr><td>Clifton</td><td>07014</td></tr>
              <tr><td>Clifton</td><td>07015</td></tr>
              <tr><td>Cranford</td><td>07016</td></tr>
              <tr><td>East Orange</td><td>07017</td></tr>
              <tr><td>East Orange</td><td>07018</td></tr>
              <tr><td>East Orange</td><td>07019</td></tr>
              <tr><td>Edgewater</td><td>07020</td></tr>
              <tr><td>Essex Fells</td><td>07021</td></tr>
              <tr><td>Fairview</td><td>07022</td></tr>
              <tr><td>Fanwood</td><td>07023</td></tr>
              <tr><td>Fort Lee</td><td>07024</td></tr>
              <tr><td>Garfield</td><td>07026</td></tr>
              <tr><td>Garwood</td><td>07027</td></tr>
              <tr><td>Glen Ridge</td><td>07028</td></tr>
              <tr><td>Harrison</td><td>07029</td></tr>
              <tr><td>Hoboken</td><td>07030</td></tr>
              <tr><td>North Arlington</td><td>07031</td></tr>
              <tr><td>Kearny</td><td>07032</td></tr>
              <tr><td>Kenilworth</td><td>07033</td></tr>
              <tr><td>Lake Hiawatha</td><td>07034</td></tr>
              <tr><td>Lincoln Park</td><td>07035</td></tr>
              <tr><td>Linden</td><td>07036</td></tr>
              <tr><td>Livingston</td><td>07039</td></tr>
              <tr><td>Maplewood</td><td>07040</td></tr>
              <tr><td>Millburn</td><td>07041</td></tr>
              <tr><td>Montclair</td><td>07042</td></tr>
              <tr><td>Montclair</td><td>07043</td></tr>
              <tr><td>Verona</td><td>07044</td></tr>
              <tr><td>Montville</td><td>07045</td></tr>
              <tr><td>Mountain Lakes</td><td>07046</td></tr>
              <tr><td>North Bergen</td><td>07047</td></tr>
              <tr><td>Orange</td><td>07050</td></tr>
              <tr><td>Orange</td><td>07051</td></tr>
              <tr><td>West Orange</td><td>07052</td></tr>
              <tr><td>Parsippany</td><td>07054</td></tr>
              <tr><td>Passaic</td><td>07055</td></tr>
              <tr><td>Wallington</td><td>07057</td></tr>
              <tr><td>Pine Brook</td><td>07058</td></tr>
              <tr><td>Warren</td><td>07059</td></tr>
              <tr><td>Plainfield</td><td>07060</td></tr>
              <tr><td>Plainfield</td><td>07061</td></tr>
              <tr><td>Plainfield</td><td>07062</td></tr>
              <tr><td>Plainfield</td><td>07063</td></tr>
              <tr><td>Port Reading</td><td>07064</td></tr>
              <tr><td>Rahway</td><td>07065</td></tr>
              <tr><td>Clark</td><td>07066</td></tr>
              <tr><td>Colonia</td><td>07067</td></tr>
              <tr><td>Roseland</td><td>07068</td></tr>
              <tr><td>Watchung</td><td>07069</td></tr>
              <tr><td>Rutherford</td><td>07070</td></tr>
              <tr><td>Lyndhurst</td><td>07071</td></tr>
              <tr><td>Carlstadt</td><td>07072</td></tr>
              <tr><td>East Rutherford</td><td>07073</td></tr>
              <tr><td>Moonachie</td><td>07074</td></tr>
              <tr><td>Wood Ridge</td><td>07075</td></tr>
              <tr><td>Scotch Plains</td><td>07076</td></tr>
              <tr><td>Sewaren</td><td>07077</td></tr>
              <tr><td>Short Hills</td><td>07078</td></tr>
              <tr><td>South Orange</td><td>07079</td></tr>
              <tr><td>South Plainfield</td><td>07080</td></tr>
              <tr><td>Springfield</td><td>07081</td></tr>
              <tr><td>Towaco</td><td>07082</td></tr>
              <tr><td>Union</td><td>07083</td></tr>
              <tr><td>Weehawken</td><td>07086</td></tr>
              <tr><td>Union City</td><td>07087</td></tr>
              <tr><td>Vauxhall</td><td>07088</td></tr>
              <tr><td>Westfield</td><td>07090</td></tr>
              <tr><td>Westfield</td><td>07091</td></tr>
              <tr><td>Mountainside</td><td>07092</td></tr>
              <tr><td>West New York</td><td>07093</td></tr>
              <tr><td>Secaucus</td><td>07094</td></tr>
              <tr><td>Woodbridge</td><td>07095</td></tr>
              <tr><td>Secaucus</td><td>07096</td></tr>
              <tr><td>Jersey City</td><td>07097</td></tr>
              <tr><td>Kearny</td><td>07099</td></tr>
              <tr><td>Newark</td><td>07101</td></tr>
              <tr><td>Newark</td><td>07102</td></tr>
              <tr><td>Newark</td><td>07103</td></tr>
              <tr><td>Newark</td><td>07104</td></tr>
              <tr><td>Newark</td><td>07105</td></tr>
              <tr><td>Newark</td><td>07106</td></tr>
              <tr><td>Newark</td><td>07107</td></tr>
              <tr><td>Newark</td><td>07108</td></tr>
              <tr><td>Belleville</td><td>07109</td></tr>
              <tr><td>Nutley</td><td>07110</td></tr>
              <tr><td>Irvington</td><td>07111</td></tr>
              <tr><td>Newark</td><td>07112</td></tr>
              <tr><td>Newark</td><td>07114</td></tr>
              <tr><td>Newark</td><td>07175</td></tr>
              <tr><td>Newark</td><td>07182</td></tr>
              <tr><td>Newark</td><td>07184</td></tr>
              <tr><td>Newark</td><td>07188</td></tr>
              <tr><td>Newark</td><td>07189</td></tr>
              <tr><td>Newark</td><td>07191</td></tr>
              <tr><td>Newark</td><td>07192</td></tr>
              <tr><td>Newark</td><td>07193</td></tr>
              <tr><td>Newark</td><td>07194</td></tr>
              <tr><td>Newark</td><td>07195</td></tr>
              <tr><td>Newark</td><td>07198</td></tr>
              <tr><td>Newark</td><td>07199</td></tr>
              <tr><td>Elizabeth</td><td>07201</td></tr>
              <tr><td>Elizabeth</td><td>07202</td></tr>
              <tr><td>Roselle</td><td>07203</td></tr>
              <tr><td>Roselle Park</td><td>07204</td></tr>
              <tr><td>Hillside</td><td>07205</td></tr>
              <tr><td>Elizabeth</td><td>07206</td></tr>
              <tr><td>Elizabeth</td><td>07207</td></tr>
              <tr><td>Elizabeth</td><td>07208</td></tr>
              <tr><td>Jersey City</td><td>07302</td></tr>
              <tr><td>Jersey City</td><td>07303</td></tr>
              <tr><td>Jersey City</td><td>07304</td></tr>
              <tr><td>Jersey City</td><td>07305</td></tr>
              <tr><td>Jersey City</td><td>07306</td></tr>
              <tr><td>Jersey City</td><td>07307</td></tr>
              <tr><td>Jersey City</td><td>07308</td></tr>
              <tr><td>Jersey City</td><td>07309</td></tr>
              <tr><td>Jersey City</td><td>07310</td></tr>
              <tr><td>Jersey City</td><td>07311</td></tr>
              <tr><td>Jersey City</td><td>07395</td></tr>
              <tr><td>Jersey City</td><td>07399</td></tr>
              <tr><td>Allendale</td><td>07401</td></tr>
              <tr><td>Bloomingdale</td><td>07403</td></tr>
              <tr><td>Butler</td><td>07405</td></tr>
              <tr><td>Elmwood Park</td><td>07407</td></tr>
              <tr><td>Fair Lawn</td><td>07410</td></tr>
              <tr><td>Franklin</td><td>07416</td></tr>
              <tr><td>Franklin Lakes</td><td>07417</td></tr>
              <tr><td>Glenwood</td><td>07418</td></tr>
              <tr><td>Hamburg</td><td>07419</td></tr>
              <tr><td>Haskell</td><td>07420</td></tr>
              <tr><td>Hewitt</td><td>07421</td></tr>
              <tr><td>Highland Lakes</td><td>07422</td></tr>
              <tr><td>Ho Ho Kus</td><td>07423</td></tr>
              <tr><td>Little Falls</td><td>07424</td></tr>
              <tr><td>Mc Afee</td><td>07428</td></tr>
              <tr><td>Mahwah</td><td>07430</td></tr>
              <tr><td>Midland Park</td><td>07432</td></tr>
              <tr><td>Newfoundland</td><td>07435</td></tr>
              <tr><td>Oakland</td><td>07436</td></tr>
              <tr><td>Oak Ridge</td><td>07438</td></tr>
              <tr><td>Ogdensburg</td><td>07439</td></tr>
              <tr><td>Pequannock</td><td>07440</td></tr>
              <tr><td>Pompton Lakes</td><td>07442</td></tr>
              <tr><td>Pompton Plains</td><td>07444</td></tr>
              <tr><td>Ramsey</td><td>07446</td></tr>
              <tr><td>Ridgewood</td><td>07450</td></tr>
              <tr><td>Ridgewood</td><td>07451</td></tr>
              <tr><td>Glen Rock</td><td>07452</td></tr>
              <tr><td>Ringwood</td><td>07456</td></tr>
              <tr><td>Riverdale</td><td>07457</td></tr>
              <tr><td>Saddle River</td><td>07458</td></tr>
              <tr><td>Stockholm</td><td>07460</td></tr>
              <tr><td>Sussex</td><td>07461</td></tr>
              <tr><td>Vernon</td><td>07462</td></tr>
              <tr><td>Waldwick</td><td>07463</td></tr>
              <tr><td>Wanaque</td><td>07465</td></tr>
              <tr><td>Wayne</td><td>07470</td></tr>
              <tr><td>Wayne</td><td>07474</td></tr>
              <tr><td>Wayne</td><td>07477</td></tr>
              <tr><td>West Milford</td><td>07480</td></tr>
              <tr><td>Wyckoff</td><td>07481</td></tr>
              <tr><td>Mahwah</td><td>07495</td></tr>
              <tr><td>Paterson</td><td>07501</td></tr>
              <tr><td>Paterson</td><td>07502</td></tr>
              <tr><td>Paterson</td><td>07503</td></tr>
              <tr><td>Paterson</td><td>07504</td></tr>
              <tr><td>Paterson</td><td>07505</td></tr>
              <tr><td>Hawthorne</td><td>07506</td></tr>
              <tr><td>Hawthorne</td><td>07507</td></tr>
              <tr><td>Haledon</td><td>07508</td></tr>
              <tr><td>Paterson</td><td>07509</td></tr>
              <tr><td>Paterson</td><td>07510</td></tr>
              <tr><td>Totowa</td><td>07511</td></tr>
              <tr><td>Totowa</td><td>07512</td></tr>
              <tr><td>Paterson</td><td>07513</td></tr>
              <tr><td>Paterson</td><td>07514</td></tr>
              <tr><td>Paterson</td><td>07522</td></tr>
              <tr><td>Paterson</td><td>07524</td></tr>
              <tr><td>Paterson</td><td>07533</td></tr>
              <tr><td>Haledon</td><td>07538</td></tr>
              <tr><td>Paterson</td><td>07543</td></tr>
              <tr><td>Paterson</td><td>07544</td></tr>
              <tr><td>Hackensack</td><td>07601</td></tr>
              <tr><td>Hackensack</td><td>07602</td></tr>
              <tr><td>Bogota</td><td>07603</td></tr>
              <tr><td>Hasbrouck Heights</td><td>07604</td></tr>
              <tr><td>Leonia</td><td>07605</td></tr>
              <tr><td>South Hackensack</td><td>07606</td></tr>
              <tr><td>Maywood</td><td>07607</td></tr>
              <tr><td>Teterboro</td><td>07608</td></tr>
              <tr><td>Alpine</td><td>07620</td></tr>
              <tr><td>Bergenfield</td><td>07621</td></tr>
              <tr><td>Closter</td><td>07624</td></tr>
              <tr><td>Cresskill</td><td>07626</td></tr>
              <tr><td>Demarest</td><td>07627</td></tr>
              <tr><td>Dumont</td><td>07628</td></tr>
              <tr><td>Emerson</td><td>07630</td></tr>
              <tr><td>Englewood</td><td>07631</td></tr>
              <tr><td>Englewood Cliffs</td><td>07632</td></tr>
              <tr><td>Harrington Park</td><td>07640</td></tr>
              <tr><td>Haworth</td><td>07641</td></tr>
              <tr><td>Hillsdale</td><td>07642</td></tr>
              <tr><td>Little Ferry</td><td>07643</td></tr>
              <tr><td>Lodi</td><td>07644</td></tr>
              <tr><td>Montvale</td><td>07645</td></tr>
              <tr><td>New Milford</td><td>07646</td></tr>
              <tr><td>Northvale</td><td>07647</td></tr>
              <tr><td>Norwood</td><td>07648</td></tr>
              <tr><td>Oradell</td><td>07649</td></tr>
              <tr><td>Palisades Park</td><td>07650</td></tr>
              <tr><td>Paramus</td><td>07652</td></tr>
              <tr><td>Paramus</td><td>07653</td></tr>
              <tr><td>Park Ridge</td><td>07656</td></tr>
              <tr><td>Ridgefield</td><td>07657</td></tr>
              <tr><td>Ridgefield Park</td><td>07660</td></tr>
              <tr><td>River Edge</td><td>07661</td></tr>
              <tr><td>Rochelle Park</td><td>07662</td></tr>
              <tr><td>Saddle Brook</td><td>07663</td></tr>
              <tr><td>Teaneck</td><td>07666</td></tr>
              <tr><td>Tenafly</td><td>07670</td></tr>
              <tr><td>Westwood</td><td>07675</td></tr>
              <tr><td>Township Of Washington</td><td>07676</td></tr>
              <tr><td>Woodcliff Lake</td><td>07677</td></tr>
              <tr><td>Teterboro</td><td>07699</td></tr>
              <tr><td>Red Bank</td><td>07701</td></tr>
              <tr><td>Shrewsbury</td><td>07702</td></tr>
              <tr><td>Fort Monmouth</td><td>07703</td></tr>
              <tr><td>Fair Haven</td><td>07704</td></tr>
              <tr><td>Red Bank</td><td>07709</td></tr>
              <tr><td>Adelphia</td><td>07710</td></tr>
              <tr><td>Allenhurst</td><td>07711</td></tr>
              <tr><td>Asbury Park</td><td>07712</td></tr>
              <tr><td>Belmar</td><td>07715</td></tr>
              <tr><td>Atlantic Highlands</td><td>07716</td></tr>
              <tr><td>Avon By The Sea</td><td>07717</td></tr>
              <tr><td>Belford</td><td>07718</td></tr>
              <tr><td>Belmar</td><td>07719</td></tr>
              <tr><td>Bradley Beach</td><td>07720</td></tr>
              <tr><td>Cliffwood</td><td>07721</td></tr>
              <tr><td>Colts Neck</td><td>07722</td></tr>
              <tr><td>Deal</td><td>07723</td></tr>
              <tr><td>Eatontown</td><td>07724</td></tr>
              <tr><td>Englishtown</td><td>07726</td></tr>
              <tr><td>Farmingdale</td><td>07727</td></tr>
              <tr><td>Freehold</td><td>07728</td></tr>
              <tr><td>Hazlet</td><td>07730</td></tr>
              <tr><td>Howell</td><td>07731</td></tr>
              <tr><td>Highlands</td><td>07732</td></tr>
              <tr><td>Holmdel</td><td>07733</td></tr>
              <tr><td>Keansburg</td><td>07734</td></tr>
              <tr><td>Keyport</td><td>07735</td></tr>
              <tr><td>Leonardo</td><td>07737</td></tr>
              <tr><td>Lincroft</td><td>07738</td></tr>
              <tr><td>Little Silver</td><td>07739</td></tr>
              <tr><td>Long Branch</td><td>07740</td></tr>
              <tr><td>Marlboro</td><td>07746</td></tr>
              <tr><td>Matawan</td><td>07747</td></tr>
              <tr><td>Middletown</td><td>07748</td></tr>
              <tr><td>Monmouth Beach</td><td>07750</td></tr>
              <tr><td>Morganville</td><td>07751</td></tr>
              <tr><td>Navesink</td><td>07752</td></tr>
              <tr><td>Neptune</td><td>07753</td></tr>
              <tr><td>Neptune</td><td>07754</td></tr>
              <tr><td>Oakhurst</td><td>07755</td></tr>
              <tr><td>Ocean Grove</td><td>07756</td></tr>
              <tr><td>Oceanport</td><td>07757</td></tr>
              <tr><td>Port Monmouth</td><td>07758</td></tr>
              <tr><td>Rumson</td><td>07760</td></tr>
              <tr><td>Spring Lake</td><td>07762</td></tr>
              <tr><td>Tennent</td><td>07763</td></tr>
              <tr><td>West Long Branch</td><td>07764</td></tr>
              <tr><td>Wickatunk</td><td>07765</td></tr>
              <tr><td>Holmdel</td><td>07777</td></tr>
              <tr><td>Eatontown</td><td>07799</td></tr>
              <tr><td>Dover</td><td>07801</td></tr>
              <tr><td>Dover</td><td>07802</td></tr>
              <tr><td>Mine Hill</td><td>07803</td></tr>
              <tr><td>Picatinny Arsenal</td><td>07806</td></tr>
              <tr><td>Allamuchy</td><td>07820</td></tr>
              <tr><td>Andover</td><td>07821</td></tr>
              <tr><td>Augusta</td><td>07822</td></tr>
              <tr><td>Belvidere</td><td>07823</td></tr>
              <tr><td>Blairstown</td><td>07825</td></tr>
              <tr><td>Branchville</td><td>07826</td></tr>
              <tr><td>Montague</td><td>07827</td></tr>
              <tr><td>Budd Lake</td><td>07828</td></tr>
              <tr><td>Buttzville</td><td>07829</td></tr>
              <tr><td>Califon</td><td>07830</td></tr>
              <tr><td>Changewater</td><td>07831</td></tr>
              <tr><td>Columbia</td><td>07832</td></tr>
              <tr><td>Delaware</td><td>07833</td></tr>
              <tr><td>Denville</td><td>07834</td></tr>
              <tr><td>Flanders</td><td>07836</td></tr>
              <tr><td>Glasser</td><td>07837</td></tr>
              <tr><td>Great Meadows</td><td>07838</td></tr>
              <tr><td>Greendell</td><td>07839</td></tr>
              <tr><td>Hackettstown</td><td>07840</td></tr>
              <tr><td>Hibernia</td><td>07842</td></tr>
              <tr><td>Hopatcong</td><td>07843</td></tr>
              <tr><td>Hope</td><td>07844</td></tr>
              <tr><td>Ironia</td><td>07845</td></tr>
              <tr><td>Johnsonburg</td><td>07846</td></tr>
              <tr><td>Kenvil</td><td>07847</td></tr>
              <tr><td>Lafayette</td><td>07848</td></tr>
              <tr><td>Lake Hopatcong</td><td>07849</td></tr>
              <tr><td>Landing</td><td>07850</td></tr>
              <tr><td>Layton</td><td>07851</td></tr>
              <tr><td>Ledgewood</td><td>07852</td></tr>
              <tr><td>Long Valley</td><td>07853</td></tr>
              <tr><td>Middleville</td><td>07855</td></tr>
              <tr><td>Mount Arlington</td><td>07856</td></tr>
              <tr><td>Netcong</td><td>07857</td></tr>
              <tr><td>Newton</td><td>07860</td></tr>
              <tr><td>Oxford</td><td>07863</td></tr>
              <tr><td>Port Murray</td><td>07865</td></tr>
              <tr><td>Rockaway</td><td>07866</td></tr>
              <tr><td>Randolph</td><td>07869</td></tr>
              <tr><td>Schooleys Mountain</td><td>07870</td></tr>
              <tr><td>Sparta</td><td>07871</td></tr>
              <tr><td>Stanhope</td><td>07874</td></tr>
              <tr><td>Stillwater</td><td>07875</td></tr>
              <tr><td>Succasunna</td><td>07876</td></tr>
              <tr><td>Swartswood</td><td>07877</td></tr>
              <tr><td>Mount Tabor</td><td>07878</td></tr>
              <tr><td>Tranquility</td><td>07879</td></tr>
              <tr><td>Vienna</td><td>07880</td></tr>
              <tr><td>Wallpack Center</td><td>07881</td></tr>
              <tr><td>Washington</td><td>07882</td></tr>
              <tr><td>Wharton</td><td>07885</td></tr>
              <tr><td>Branchville</td><td>07890</td></tr>
              <tr><td>Summit</td><td>07901</td></tr>
              <tr><td>Summit</td><td>07902</td></tr>
              <tr><td>Basking Ridge</td><td>07920</td></tr>
              <tr><td>Bedminster</td><td>07921</td></tr>
              <tr><td>Berkeley Heights</td><td>07922</td></tr>
              <tr><td>Bernardsville</td><td>07924</td></tr>
              <tr><td>Brookside</td><td>07926</td></tr>
              <tr><td>Cedar Knolls</td><td>07927</td></tr>
              <tr><td>Chatham</td><td>07928</td></tr>
              <tr><td>Chester</td><td>07930</td></tr>
              <tr><td>Far Hills</td><td>07931</td></tr>
              <tr><td>Florham Park</td><td>07932</td></tr>
              <tr><td>Gillette</td><td>07933</td></tr>
              <tr><td>Gladstone</td><td>07934</td></tr>
              <tr><td>Green Village</td><td>07935</td></tr>
              <tr><td>East Hanover</td><td>07936</td></tr>
              <tr><td>Liberty Corner</td><td>07938</td></tr>
              <tr><td>Lyons</td><td>07939</td></tr>
              <tr><td>Madison</td><td>07940</td></tr>
              <tr><td>Mendham</td><td>07945</td></tr>
              <tr><td>Millington</td><td>07946</td></tr>
              <tr><td>Greystone Park</td><td>07950</td></tr>
              <tr><td>Morris Plains</td><td>07950</td></tr>
              <tr><td>Morristown</td><td>07960</td></tr>
              <tr><td>Morristown</td><td>07961</td></tr>
              <tr><td>Morristown</td><td>07962</td></tr>
              <tr><td>Morristown</td><td>07963</td></tr>
              <tr><td>Mount Freedom</td><td>07970</td></tr>
              <tr><td>New Providence</td><td>07974</td></tr>
              <tr><td>New Vernon</td><td>07976</td></tr>
              <tr><td>Peapack</td><td>07977</td></tr>
              <tr><td>Pluckemin</td><td>07978</td></tr>
              <tr><td>Pottersville</td><td>07979</td></tr>
              <tr><td>Stirling</td><td>07980</td></tr>
              <tr><td>Whippany</td><td>07981</td></tr>
              <tr><td>Whippany</td><td>07983</td></tr>
              <tr><td>Whippany</td><td>07999</td></tr>
              <tr><td>Alloway</td><td>08001</td></tr>
              <tr><td>Cherry Hill</td><td>08002</td></tr>
              <tr><td>Cherry Hill</td><td>08003</td></tr>
              <tr><td>Atco</td><td>08004</td></tr>
              <tr><td>Barnegat</td><td>08005</td></tr>
              <tr><td>Barnegat Light</td><td>08006</td></tr>
              <tr><td>Barrington</td><td>08007</td></tr>
              <tr><td>Beach Haven</td><td>08008</td></tr>
              <tr><td>Berlin</td><td>08009</td></tr>
              <tr><td>Beverly</td><td>08010</td></tr>
              <tr><td>Birmingham</td><td>08011</td></tr>
              <tr><td>Blackwood</td><td>08012</td></tr>
              <tr><td>Bridgeport</td><td>08014</td></tr>
              <tr><td>Browns Mills</td><td>08015</td></tr>
              <tr><td>Burlington</td><td>08016</td></tr>
              <tr><td>Cedar Brook</td><td>08018</td></tr>
              <tr><td>Chatsworth</td><td>08019</td></tr>
              <tr><td>Clarksboro</td><td>08020</td></tr>
              <tr><td>Clementon</td><td>08021</td></tr>
              <tr><td>Columbus</td><td>08022</td></tr>
              <tr><td>Deepwater</td><td>08023</td></tr>
              <tr><td>Ewan</td><td>08025</td></tr>
              <tr><td>Gibbsboro</td><td>08026</td></tr>
              <tr><td>Gibbstown</td><td>08027</td></tr>
              <tr><td>Glassboro</td><td>08028</td></tr>
              <tr><td>Glendora</td><td>08029</td></tr>
              <tr><td>Gloucester City</td><td>08030</td></tr>
              <tr><td>Bellmawr</td><td>08031</td></tr>
              <tr><td>Grenloch</td><td>08032</td></tr>
              <tr><td>Haddonfield</td><td>08033</td></tr>
              <tr><td>Cherry Hill</td><td>08034</td></tr>
              <tr><td>Haddon Heights</td><td>08035</td></tr>
              <tr><td>Hainesport</td><td>08036</td></tr>
              <tr><td>Hammonton</td><td>08037</td></tr>
              <tr><td>Hancocks Bridge</td><td>08038</td></tr>
              <tr><td>Harrisonville</td><td>08039</td></tr>
              <tr><td>Jobstown</td><td>08041</td></tr>
              <tr><td>Juliustown</td><td>08042</td></tr>
              <tr><td>Voorhees</td><td>08043</td></tr>
              <tr><td>Lawnside</td><td>08045</td></tr>
              <tr><td>Willingboro</td><td>08046</td></tr>
              <tr><td>Lumberton</td><td>08048</td></tr>
              <tr><td>Magnolia</td><td>08049</td></tr>
              <tr><td>Manahawkin</td><td>08050</td></tr>
              <tr><td>Mantua</td><td>08051</td></tr>
              <tr><td>Maple Shade</td><td>08052</td></tr>
              <tr><td>Marlton</td><td>08053</td></tr>
              <tr><td>Mount Laurel</td><td>08054</td></tr>
              <tr><td>Medford</td><td>08055</td></tr>
              <tr><td>Mickleton</td><td>08056</td></tr>
              <tr><td>Moorestown</td><td>08057</td></tr>
              <tr><td>Mount Ephraim</td><td>08059</td></tr>
              <tr><td>Mount Holly</td><td>08060</td></tr>
              <tr><td>Mount Royal</td><td>08061</td></tr>
              <tr><td>Mullica Hill</td><td>08062</td></tr>
              <tr><td>National Park</td><td>08063</td></tr>
              <tr><td>New Lisbon</td><td>08064</td></tr>
              <tr><td>Palmyra</td><td>08065</td></tr>
              <tr><td>Paulsboro</td><td>08066</td></tr>
              <tr><td>Pedricktown</td><td>08067</td></tr>
              <tr><td>Pemberton</td><td>08068</td></tr>
              <tr><td>Penns Grove</td><td>08069</td></tr>
              <tr><td>Pennsville</td><td>08070</td></tr>
              <tr><td>Pitman</td><td>08071</td></tr>
              <tr><td>Quinton</td><td>08072</td></tr>
              <tr><td>Rancocas</td><td>08073</td></tr>
              <tr><td>Richwood</td><td>08074</td></tr>
              <tr><td>Riverside</td><td>08075</td></tr>
              <tr><td>Riverton</td><td>08076</td></tr>
              <tr><td>Riverton</td><td>08077</td></tr>
              <tr><td>Runnemede</td><td>08078</td></tr>
              <tr><td>Salem</td><td>08079</td></tr>
              <tr><td>Sewell</td><td>08080</td></tr>
              <tr><td>Sicklerville</td><td>08081</td></tr>
              <tr><td>Somerdale</td><td>08083</td></tr>
              <tr><td>Stratford</td><td>08084</td></tr>
              <tr><td>Swedesboro</td><td>08085</td></tr>
              <tr><td>Thorofare</td><td>08086</td></tr>
              <tr><td>Tuckerton</td><td>08087</td></tr>
              <tr><td>Vincentown</td><td>08088</td></tr>
              <tr><td>Waterford Works</td><td>08089</td></tr>
              <tr><td>Wenonah</td><td>08090</td></tr>
              <tr><td>West Berlin</td><td>08091</td></tr>
              <tr><td>West Creek</td><td>08092</td></tr>
              <tr><td>Westville</td><td>08093</td></tr>
              <tr><td>Williamstown</td><td>08094</td></tr>
              <tr><td>Winslow</td><td>08095</td></tr>
              <tr><td>Deptford</td><td>08096</td></tr>
              <tr><td>Woodbury</td><td>08096</td></tr>
              <tr><td>Woodbury Heights</td><td>08097</td></tr>
              <tr><td>Woodstown</td><td>08098</td></tr>
              <tr><td>Bellmawr</td><td>08099</td></tr>
              <tr><td>Camden</td><td>08101</td></tr>
              <tr><td>Camden</td><td>08102</td></tr>
              <tr><td>Camden</td><td>08103</td></tr>
              <tr><td>Camden</td><td>08104</td></tr>
              <tr><td>Haddon Township</td><td>08104</td></tr>
              <tr><td>Camden</td><td>08105</td></tr>
              <tr><td>Audubon</td><td>08106</td></tr>
              <tr><td>Haddon Township</td><td>08107</td></tr>
              <tr><td>Oaklyn</td><td>08107</td></tr>
              <tr><td>Collingswood</td><td>08108</td></tr>
              <tr><td>Haddon Township</td><td>08108</td></tr>
              <tr><td>Merchantville</td><td>08109</td></tr>
              <tr><td>Pennsauken</td><td>08110</td></tr>
              <tr><td>Absecon</td><td>08201</td></tr>
              <tr><td>Avalon</td><td>08202</td></tr>
              <tr><td>Brigantine</td><td>08203</td></tr>
              <tr><td>Cape May</td><td>08204</td></tr>
              <tr><td>Absecon</td><td>08205</td></tr>
              <tr><td>Cape May Court House</td><td>08210</td></tr>
              <tr><td>Cape May Point</td><td>08212</td></tr>
              <tr><td>Cologne</td><td>08213</td></tr>
              <tr><td>Dennisville</td><td>08214</td></tr>
              <tr><td>Egg Harbor City</td><td>08215</td></tr>
              <tr><td>Elwood</td><td>08217</td></tr>
              <tr><td>Goshen</td><td>08218</td></tr>
              <tr><td>Green Creek</td><td>08219</td></tr>
              <tr><td>Leeds Point</td><td>08220</td></tr>
              <tr><td>Linwood</td><td>08221</td></tr>
              <tr><td>Marmora</td><td>08223</td></tr>
              <tr><td>New Gretna</td><td>08224</td></tr>
              <tr><td>Northfield</td><td>08225</td></tr>
              <tr><td>Ocean City</td><td>08226</td></tr>
              <tr><td>Ocean View</td><td>08230</td></tr>
              <tr><td>Oceanville</td><td>08231</td></tr>
              <tr><td>Pleasantville</td><td>08232</td></tr>
              <tr><td>Egg Harbor Township</td><td>08234</td></tr>
              <tr><td>Pomona</td><td>08240</td></tr>
              <tr><td>Port Republic</td><td>08241</td></tr>
              <tr><td>Rio Grande</td><td>08242</td></tr>
              <tr><td>Sea Isle City</td><td>08243</td></tr>
              <tr><td>Somers Point</td><td>08244</td></tr>
              <tr><td>South Dennis</td><td>08245</td></tr>
              <tr><td>South Seaville</td><td>08246</td></tr>
              <tr><td>Stone Harbor</td><td>08247</td></tr>
              <tr><td>Strathmere</td><td>08248</td></tr>
              <tr><td>Tuckahoe</td><td>08250</td></tr>
              <tr><td>Villas</td><td>08251</td></tr>
              <tr><td>Whitesboro</td><td>08252</td></tr>
              <tr><td>Wildwood</td><td>08260</td></tr>
              <tr><td>Woodbine</td><td>08270</td></tr>
              <tr><td>Bridgeton</td><td>08302</td></tr>
              <tr><td>Buena</td><td>08310</td></tr>
              <tr><td>Cedarville</td><td>08311</td></tr>
              <tr><td>Clayton</td><td>08312</td></tr>
              <tr><td>Deerfield Street</td><td>08313</td></tr>
              <tr><td>Delmont</td><td>08314</td></tr>
              <tr><td>Dividing Creek</td><td>08315</td></tr>
              <tr><td>Dorchester</td><td>08316</td></tr>
              <tr><td>Dorothy</td><td>08317</td></tr>
              <tr><td>Elmer</td><td>08318</td></tr>
              <tr><td>Estell Manor</td><td>08319</td></tr>
              <tr><td>Fairton</td><td>08320</td></tr>
              <tr><td>Fortescue</td><td>08321</td></tr>
              <tr><td>Franklinville</td><td>08322</td></tr>
              <tr><td>Greenwich</td><td>08323</td></tr>
              <tr><td>Heislerville</td><td>08324</td></tr>
              <tr><td>Landisville</td><td>08326</td></tr>
              <tr><td>Leesburg</td><td>08327</td></tr>
              <tr><td>Malaga</td><td>08328</td></tr>
              <tr><td>Mauricetown</td><td>08329</td></tr>
              <tr><td>Mays Landing</td><td>08330</td></tr>
              <tr><td>Millville</td><td>08332</td></tr>
              <tr><td>Milmay</td><td>08340</td></tr>
              <tr><td>Minotola</td><td>08341</td></tr>
              <tr><td>Mizpah</td><td>08342</td></tr>
              <tr><td>Monroeville</td><td>08343</td></tr>
              <tr><td>Newfield</td><td>08344</td></tr>
              <tr><td>Newport</td><td>08345</td></tr>
              <tr><td>Newtonville</td><td>08346</td></tr>
              <tr><td>Norma</td><td>08347</td></tr>
              <tr><td>Port Elizabeth</td><td>08348</td></tr>
              <tr><td>Port Norris</td><td>08349</td></tr>
              <tr><td>Richland</td><td>08350</td></tr>
              <tr><td>Rosenhayn</td><td>08352</td></tr>
              <tr><td>Shiloh</td><td>08353</td></tr>
              <tr><td>Vineland</td><td>08360</td></tr>
              <tr><td>Vineland</td><td>08361</td></tr>
              <tr><td>Vineland</td><td>08362</td></tr>
              <tr><td>Atlantic City</td><td>08401</td></tr>
              <tr><td>Margate City</td><td>08402</td></tr>
              <tr><td>Longport</td><td>08403</td></tr>
              <tr><td>Atlantic City</td><td>08404</td></tr>
              <tr><td>Atlantic City</td><td>08405</td></tr>
              <tr><td>Ventnor City</td><td>08406</td></tr>
              <tr><td>Allentown</td><td>08501</td></tr>
              <tr><td>Belle Mead</td><td>08502</td></tr>
              <tr><td>Blawenburg</td><td>08504</td></tr>
              <tr><td>Bordentown</td><td>08505</td></tr>
              <tr><td>Millstone Township</td><td>08510</td></tr>
              <tr><td>Cookstown</td><td>08511</td></tr>
              <tr><td>Cranbury</td><td>08512</td></tr>
              <tr><td>Cream Ridge</td><td>08514</td></tr>
              <tr><td>Chesterfield</td><td>08515</td></tr>
              <tr><td>Florence</td><td>08518</td></tr>
              <tr><td>Hightstown</td><td>08520</td></tr>
              <tr><td>Hopewell</td><td>08525</td></tr>
              <tr><td>Imlaystown</td><td>08526</td></tr>
              <tr><td>Jackson</td><td>08527</td></tr>
              <tr><td>Kingston</td><td>08528</td></tr>
              <tr><td>Lambertville</td><td>08530</td></tr>
              <tr><td>New Egypt</td><td>08533</td></tr>
              <tr><td>Pennington</td><td>08534</td></tr>
              <tr><td>Perrineville</td><td>08535</td></tr>
              <tr><td>Plainsboro</td><td>08536</td></tr>
              <tr><td>Princeton</td><td>08540</td></tr>
              <tr><td>Princeton</td><td>08541</td></tr>
              <tr><td>Princeton</td><td>08542</td></tr>
              <tr><td>Princeton</td><td>08543</td></tr>
              <tr><td>Princeton</td><td>08544</td></tr>
              <tr><td>Princeton Junction</td><td>08550</td></tr>
              <tr><td>Ringoes</td><td>08551</td></tr>
              <tr><td>Rocky Hill</td><td>08553</td></tr>
              <tr><td>Roebling</td><td>08554</td></tr>
              <tr><td>Roosevelt</td><td>08555</td></tr>
              <tr><td>Rosemont</td><td>08556</td></tr>
              <tr><td>Sergeantsville</td><td>08557</td></tr>
              <tr><td>Skillman</td><td>08558</td></tr>
              <tr><td>Stockton</td><td>08559</td></tr>
              <tr><td>Titusville</td><td>08560</td></tr>
              <tr><td>Windsor</td><td>08561</td></tr>
              <tr><td>Wrightstown</td><td>08562</td></tr>
              <tr><td>Trenton</td><td>08601</td></tr>
              <tr><td>Trenton</td><td>08602</td></tr>
              <tr><td>Trenton</td><td>08603</td></tr>
              <tr><td>Trenton</td><td>08604</td></tr>
              <tr><td>Trenton</td><td>08605</td></tr>
              <tr><td>Trenton</td><td>08606</td></tr>
              <tr><td>Trenton</td><td>08607</td></tr>
              <tr><td>Trenton</td><td>08608</td></tr>
              <tr><td>Trenton</td><td>08609</td></tr>
              <tr><td>Trenton</td><td>08610</td></tr>
              <tr><td>Trenton</td><td>08611</td></tr>
              <tr><td>Trenton</td><td>08618</td></tr>
              <tr><td>Trenton</td><td>08619</td></tr>
              <tr><td>Trenton</td><td>08620</td></tr>
              <tr><td>Trenton</td><td>08625</td></tr>
              <tr><td>Trenton</td><td>08628</td></tr>
              <tr><td>Trenton</td><td>08629</td></tr>
              <tr><td>Trenton</td><td>08638</td></tr>
              <tr><td>Fort Dix</td><td>08640</td></tr>
              <tr><td>Trenton</td><td>08641</td></tr>
              <tr><td>Trenton</td><td>08645</td></tr>
              <tr><td>Trenton</td><td>08646</td></tr>
              <tr><td>Trenton</td><td>08647</td></tr>
              <tr><td>Trenton</td><td>08648</td></tr>
              <tr><td>Trenton</td><td>08650</td></tr>
              <tr><td>Trenton</td><td>08666</td></tr>
              <tr><td>Trenton</td><td>08677</td></tr>
              <tr><td>Trenton</td><td>08690</td></tr>
              <tr><td>Trenton</td><td>08691</td></tr>
              <tr><td>Trenton</td><td>08695</td></tr>
              <tr><td>Lakewood</td><td>08701</td></tr>
              <tr><td>Allenwood</td><td>08720</td></tr>
              <tr><td>Bayville</td><td>08721</td></tr>
              <tr><td>Beachwood</td><td>08722</td></tr>
              <tr><td>Brick</td><td>08723</td></tr>
              <tr><td>Brick</td><td>08724</td></tr>
              <tr><td>Brielle</td><td>08730</td></tr>
              <tr><td>Forked River</td><td>08731</td></tr>
              <tr><td>Island Heights</td><td>08732</td></tr>
              <tr><td>Lakehurst</td><td>08733</td></tr>
              <tr><td>Lanoka Harbor</td><td>08734</td></tr>
              <tr><td>Lavallette</td><td>08735</td></tr>
              <tr><td>Manasquan</td><td>08736</td></tr>
              <tr><td>Mantoloking</td><td>08738</td></tr>
              <tr><td>Normandy Beach</td><td>08739</td></tr>
              <tr><td>Ocean Gate</td><td>08740</td></tr>
              <tr><td>Pine Beach</td><td>08741</td></tr>
              <tr><td>Point Pleasant Beach</td><td>08742</td></tr>
              <tr><td>Sea Girt</td><td>08750</td></tr>
              <tr><td>Seaside Heights</td><td>08751</td></tr>
              <tr><td>Seaside Park</td><td>08752</td></tr>
              <tr><td>Toms River</td><td>08753</td></tr>
              <tr><td>Toms River</td><td>08754</td></tr>
              <tr><td>Toms River</td><td>08755</td></tr>
              <tr><td>Toms River</td><td>08756</td></tr>
              <tr><td>Toms River</td><td>08757</td></tr>
              <tr><td>Waretown</td><td>08758</td></tr>
              <tr><td>Manchester Township</td><td>08759</td></tr>
              <tr><td>Annandale</td><td>08801</td></tr>
              <tr><td>Asbury</td><td>08802</td></tr>
              <tr><td>Baptistown</td><td>08803</td></tr>
              <tr><td>Bloomsbury</td><td>08804</td></tr>
              <tr><td>Bound Brook</td><td>08805</td></tr>
              <tr><td>Bridgewater</td><td>08807</td></tr>
              <tr><td>Broadway</td><td>08808</td></tr>
              <tr><td>Clinton</td><td>08809</td></tr>
              <tr><td>Dayton</td><td>08810</td></tr>
              <tr><td>Dunellen</td><td>08812</td></tr>
              <tr><td>East Brunswick</td><td>08816</td></tr>
              <tr><td>Edison</td><td>08817</td></tr>
              <tr><td>Edison</td><td>08818</td></tr>
              <tr><td>Edison</td><td>08820</td></tr>
              <tr><td>Flagtown</td><td>08821</td></tr>
              <tr><td>Flemington</td><td>08822</td></tr>
              <tr><td>Franklin Park</td><td>08823</td></tr>
              <tr><td>Kendall Park</td><td>08824</td></tr>
              <tr><td>Frenchtown</td><td>08825</td></tr>
              <tr><td>Glen Gardner</td><td>08826</td></tr>
              <tr><td>Hampton</td><td>08827</td></tr>
              <tr><td>Helmetta</td><td>08828</td></tr>
              <tr><td>High Bridge</td><td>08829</td></tr>
              <tr><td>Iselin</td><td>08830</td></tr>
              <tr><td>Monroe Township</td><td>08831</td></tr>
              <tr><td>Keasbey</td><td>08832</td></tr>
              <tr><td>Lebanon</td><td>08833</td></tr>
              <tr><td>Little York</td><td>08834</td></tr>
              <tr><td>Manville</td><td>08835</td></tr>
              <tr><td>Martinsville</td><td>08836</td></tr>
              <tr><td>Edison</td><td>08837</td></tr>
              <tr><td>Metuchen</td><td>08840</td></tr>
              <tr><td>Hillsborough</td><td>08844</td></tr>
              <tr><td>Middlesex</td><td>08846</td></tr>
              <tr><td>Milford</td><td>08848</td></tr>
              <tr><td>Milltown</td><td>08850</td></tr>
              <tr><td>Monmouth Junction</td><td>08852</td></tr>
              <tr><td>Neshanic Station</td><td>08853</td></tr>
              <tr><td>Piscataway</td><td>08854</td></tr>
              <tr><td>Piscataway</td><td>08855</td></tr>
              <tr><td>Old Bridge</td><td>08857</td></tr>
              <tr><td>Oldwick</td><td>08858</td></tr>
              <tr><td>Parlin</td><td>08859</td></tr>
              <tr><td>Perth Amboy</td><td>08861</td></tr>
              <tr><td>Perth Amboy</td><td>08862</td></tr>
              <tr><td>Fords</td><td>08863</td></tr>
              <tr><td>Phillipsburg</td><td>08865</td></tr>
              <tr><td>Pittstown</td><td>08867</td></tr>
              <tr><td>Quakertown</td><td>08868</td></tr>
              <tr><td>Raritan</td><td>08869</td></tr>
              <tr><td>Readington</td><td>08870</td></tr>
              <tr><td>Sayreville</td><td>08871</td></tr>
              <tr><td>Sayreville</td><td>08872</td></tr>
              <tr><td>Somerset</td><td>08873</td></tr>
              <tr><td>Somerset</td><td>08875</td></tr>
              <tr><td>Somerville</td><td>08876</td></tr>
              <tr><td>South Amboy</td><td>08879</td></tr>
              <tr><td>South Bound Brook</td><td>08880</td></tr>
              <tr><td>South River</td><td>08882</td></tr>
              <tr><td>Spotswood</td><td>08884</td></tr>
              <tr><td>Stanton</td><td>08885</td></tr>
              <tr><td>Stewartsville</td><td>08886</td></tr>
              <tr><td>Three Bridges</td><td>08887</td></tr>
              <tr><td>Whitehouse</td><td>08888</td></tr>
              <tr><td>Whitehouse Station</td><td>08889</td></tr>
              <tr><td>Zarephath</td><td>08890</td></tr>
              <tr><td>Raritan</td><td>08896</td></tr>
              <tr><td>Edison</td><td>08899</td></tr>
              <tr><td>New Brunswick</td><td>08901</td></tr>
              <tr><td>North Brunswick</td><td>08902</td></tr>
              <tr><td>New Brunswick</td><td>08903</td></tr>
              <tr><td>Highland Park</td><td>08904</td></tr>
              <tr><td>New Brunswick</td><td>08905</td></tr>
              <tr><td>New Brunswick</td><td>08906</td></tr>
              <tr><td>New Brunswick</td><td>08922</td></tr>
              <tr><td>New Brunswick</td><td>08933</td></tr>
              <tr><td>New Brunswick</td><td>08988</td></tr>
              <tr><td>New Brunswick</td><td>08989</td></tr>
              
    </table>
    <br><br><br>


{% endblock %}