{% extends "bootstrap_layout.html" %}
{% set active_page = "moving" %}

{% block content %}

    <h1>Moving Fee Calc Page</h1>

    <p>Your bid for a mover's service:</p>

    <table style="width:30%">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
      </table>
      <br><br><br>


    <form action="/inquiry" method="POST">

        <label>Email Address:</label>
        <input type="text" name="email_address" placeholder="me@example.com" value="me@example.com">
        <br>

        <label>Zip code of origin:</label>
        <input type="text" name="zip_origin" placeholder="#####" value="#####">
        <br>

        <label>Zip code of destination:</label>
        <input type="text" name="zip_destination" placeholder="#####" value="#####">
        <br>

        <label>Moving Size</label>
        <select name="move_size">
            <option value="s1" selected="true">Studio to 1 Bedroom</option>
            <option value="s2">1 Bedroom to 2 Bedroom</option>
            <option value="s3">Home up to 2 bedrooms</option>
            <option value="s4">2 Bedroom Home to 3 Bedroom Apt</option>
            <option value="s5">3 Bedroom Home to 4 Bedroom Home</option>
        </select>
        <br>

        <button>Submit</button>
    </form>

{% endblock %}